
.BookmarkRow {
    padding: 8px;
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.BookmarkContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: top;
    background-color: rgb(224, 225, 229);
    border-radius: 6px;
}


.BookmarkContainer .cmdIcon {
    display: none;
}

.BookmarkContainer:hover .cmdIcon {
    display: block;
}

.BookmarkLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.BookmarkName {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.BookmarkPhone {
    color: black;
}

.BookmarkEmail {
    color: rgb(67, 149, 248);
}

.BookmarkCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.BookmarkdeleteForm {
    margin: 20px;
}

.big-favicon {
    text-align: center;
    background-image: url(../bookmark_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin-right: 5px;
}

.small-favicon {
    text-align: center;
    background-image: url(../bookmark_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 5px;
}